.serviceBlock {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.img {
  display: block;
  height: auto;
  margin-bottom: 30px;
  max-height: 100%;
  min-width: 100%;
  width: auto;
}

@include mq(tablet) {
  .serviceBlock {
    min-height: 750px;
    position: relative;
  }

  .serviceBlock > div {
    display: flex;
    flex-direction: row;
  }

  .content {
    max-width: 55%;
    width: 100%;
  }

  .content > div {
    max-width: none;
  }

  .img {
    margin: 0;
    left: 60%;
    max-height: 600px;
    position: absolute !important;
    top: 0;
  }

  .serviceBlock:nth-child(even) {
    & > div {
      flex-direction: row-reverse;
    }

    .img {
      left: auto;
      right: 60%;
    }
  }
}

@include mq(desktop) {
  .serviceBlock {
    min-height: 900px;
  }

  .img {
    max-height: 750px;
  }
}
