.serviceBlock {
    margin-bottom: 50px;

    &:last-of-type {
        margin-bottom: 0;
    }

}

.img {
    display: block;
    max-height: 100%;
    margin-bottom: 30px;
    width: auto;
}

@include mq(tablet) {

    .serviceBlock {
        min-height: 750px;
        position: relative;
    }

    .serviceBlock>div {
        display: flex;
        flex-direction: row;
    }

    .content {
        max-width: 55%;
        width: 100%;
    }

    .content>div {
        max-width: none;
    }

    .img {
        margin: 0;
        position: absolute;
        left: 60%;
        top: 0;
        max-height: 600px;
    }

    .serviceBlock:nth-child(even) {

        &>div {
            flex-direction: row-reverse;
        }

        .img {
            left: auto;
            right: 60%;
        }

    }

}

@include mq(desktop) {

    .serviceBlock {
        min-height: 900px;
    }

    .img {
        max-height: 750px;
    }

}