.articlesBlock {
  // @include blockMargin;
  text-align: center;
}

@include mq(tablet) {
  .articles {
    display: flex;
    justify-content: space-between;
  }
}

@include mq(tablet-lg) {
  .articlesBlock {
    text-align: left;
  }
}
