.serviceItem {
    margin-bottom: 40px;
    text-align: center;

    &:last-child {
        // margin-bottom: 20px;
        margin-bottom: 60px;
    }

    p {
        // color: #fff;
        // width: 100% !important;
    }

}

.icon {
    // display: none;
    display: block;
    margin-bottom: 15px;
    max-height: 80px;
}

p {
    color: #573367;
}

p.title {
    color: $headingColour;
    font-family: 'HalisR-Bold', 'serif';
    font-size: 3rem;
    letter-spacing: -.1rem;
    margin-bottom: 10px;
}

.body {
    font-size: 1.5rem;
    margin-bottom: 0;
}

@include mq(tablet) {

    .serviceItem {
        flex: 1;
        margin-bottom: 0 !important;
        padding: 0 8px;
    }

    .icon {
        max-height: 70px;
    }

    .body {
        font-size: 1.4rem;
    }

}

@include mq(tablet-lg) {

    .serviceItem {
        padding: 0 15px;
    }

    .icon {
        max-height: 80px;
        margin-bottom: 20px;
    }

    p.title {
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    .body {
        font-size: 1.5rem;
    }

}

@include mq(desktop) {

    .serviceItem {
        padding: 0 15px;
    }

    .icon {
        margin-bottom: 20px;
        max-height: 100px;
    }

    .body {
        font-size: 1.6rem;
    }

}

@include mq(desktop-md) {

    .serviceItem {
        padding: 0 25px;
    }

    p.title {
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .body {
        font-size: 1.8rem;
    }

}