.mastheadTitle {
  color: #fff;
  font-size: 3.6rem;
  letter-spacing: -0.2rem;
}

.mastheadTitle.isHomepage {
  font-size: 3.2rem;
  margin-top: -50px;
}

.mastheadTitle br {
  display: none;
}

@include mq(mobile-lg) {

  .mastheadTitle {
    font-size: 3.8rem;
  }

  .mastheadTitle.isHomepage {
    font-size: 3.8rem;
    margin-top: -30px;
  }

}

@include mq(mobile-xlg) {
  .mastheadTitle {
    font-size: 4rem;
  }
}

@include mq(tablet) {

  .mastheadTitle {
    font-size: 7rem;
    letter-spacing: -0.3rem;
  }

  .mastheadTitle.isHomepage {
    font-size: 7rem;
  }

  .mastheadTitle br {
    display: block;
  }
}

@include mq(tablet-lg) {

  .mastheadTitle {
    font-size: 8rem;
  }

}

@include mq(desktop) {

  .mastheadTitle.isHomepage {
    font-size: 9rem;
  }

}

@include mq(desktop-md) {

  .mastheadTitle {
    font-size: 10rem;
    letter-spacing: -0.5rem;
  }

  .mastheadTitle.isHomepage {
    font-size: 11rem;
  }
}

@include mq(desktop-lg) {
  .mastheadTitle.isHomepage {
    font-size: 12rem;
    margin-bottom: 40px;
  }
}