.mastheadTitle {
  font-size: 3.8rem;
  letter-spacing: -0.2rem;
  margin-bottom: 15px;
}

.mastheadTitle br {
  display: none;
}

@include mq(mobile-lg) {
  .mastheadTitle {
    font-size: 4.8rem;
  }
}

@include mq(mobile-xlg) {
  .mastheadTitle {
    font-size: 5.2rem;
  }
}

@include mq(tablet) {
  .mastheadTitle {
    font-size: 7rem;
    letter-spacing: -0.3rem;
  }

  .mastheadTitle br {
    display: block;
  }
}

@include mq(tablet-lg) {
  .mastheadTitle {
    font-size: 8rem;
  }
}

@include mq(desktop) {
  .mastheadTitle {
    font-size: 9rem;
    margin-bottom: 20px;
  }
}

@include mq(desktop-md) {
  .mastheadTitle {
    font-size: 11rem;
    letter-spacing: -0.5rem;
    margin-bottom: 20px;
  }
}

@include mq(desktop-lg) {
  .mastheadTitle {
    font-size: 12rem;
    margin-bottom: 30px;
  }
}