.portfolioThumbnail {
  display: inline-block;
  margin: 5% 0 0;
  position: relative;
}

.portfolioThumbnail svg {
  display: block;
  transform: scale(1.18);
  width: 100%;
}

// mobile
@media only screen and (max-width: 991px) {
  .portfolioThumbnail {
    width: 33.3333333%;

    &:nth-child(3n + 1),
    &:nth-child(3n + 3) {
      transform: translateY(-65%);
    }
  }
}

@include mq(tablet-lg) {
  .portfolioThumbnail {
    width: 20%;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(7),
    &:nth-child(9),
    &:nth-child(12),
    &:nth-child(14),
    &:nth-child(17),
    &:nth-child(19),
    &:nth-child(22),
    &:nth-child(24),
    &:nth-child(27),
    &:nth-child(29) {
      transform: translateY(-65%);
    }

    &:last-child {
      display: none;
    }
  }
}
