.logo {
  display: block;
  height: 150px;
  margin: 0 auto 20px;
  width: auto;
}

@include mq(mobile-lg) {
  .logo {
    margin-bottom: 30px;
    height: 180px;
  }
}

@include mq(tablet) {
  .logo {
    display: flex;
    margin: 0;
  }
}

@include mq(desktop) {
  .logo {
    height: 250px;
  }
}
