.logo {
  display: inline-block;
  height: 100%;
  margin: 0 auto 20px;
  width: auto;
}

.logo img {
  display: block;
  height: 100%;
  width: auto;
}

@include mq(tablet) {
  .logo {
    margin: 0;
  }
}