$breakpoints: (mobile-lg: 375px,
  mobile-xlg: 414px,
  tablet: 768px,
  tablet-lg: 992px,
  desktop: 1250px,
  desktop-md: 1500px,
  desktop-lg: 1920px,
  full: 2561px,
);

@mixin mq($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin blockMargin() {
  padding-bottom: 75px;

  @include mq(mobile-lg) {
    padding-bottom: 100px;
  }

  @include mq(tablet) {
    padding-bottom: 75px;
  }

  @include mq(tablet-lg) {
    padding-bottom: 100px;
  }

  @include mq(desktop-md) {
    padding-bottom: 300px;
  }
}

@mixin pageBgGradient($isInner: false) {

  @if $isInner {
    background-image: -moz-linear-gradient(220deg, #742CE4 0%, #742CE4 6%, #DB3AB8 83%);
    background-image: -webkit-linear-gradient(220deg, #742CE4 0%, #742CE4 6%, #DB3AB8 83%);
    background-image: linear-gradient(220deg, #742CE4 0%, #742CE4 6%, #DB3AB8 83%);

    @media only screen and (min-width: 767px) {
      background-image: -moz-linear-gradient(220deg, #DB3AB8 0%, #DB3AB8 6%, #742CE4 83%);
      background-image: -webkit-linear-gradient(220deg, #DB3AB8 0%, #DB3AB8 6%, #742CE4 83%);
      background-image: linear-gradient(220deg, #DB3AB8 0%, #DB3AB8 6%, #742CE4 83%);
    }
  }

  @else {
    background-image: -moz-linear-gradient(230deg, #742CE4 0%, #DB3AB8 32%, #452773 100%);
    background-image: -webkit-linear-gradient(230deg, #742CE4 0%, #DB3AB8 32%, #452773 100%);
    background-image: linear-gradient(230deg, #742CE4 0%, #DB3AB8 32%, #452773 100%);

    @media only screen and (min-width: 767px) {
      background-image: -moz-linear-gradient(230deg, #DB3AB8 0%, #742CE4 32%, #c13adb 100%);
      background-image: -webkit-linear-gradient(230deg, #DB3AB8 0%, #742CE4 32%, #c13adb 100%);
      background-image: linear-gradient(230deg, #DB3AB8 0%, #742CE4 32%, #c13adb 100%);
    }
  }

}

@mixin pageLoadAnimation($speed: 1.2s, $offset: 20px) {
  -webkit-animation: fadein $speed;
  -moz-animation: fadein $speed;
  -ms-animation: fadein $speed;
  -o-animation: fadein $speed;
  animation: fadein $speed;

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY($offset);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-moz-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY($offset);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY($offset);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-ms-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY($offset);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-o-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY($offset);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

}