// $borderRadius: 4px;
$borderRadius: 10px;
//$lightPurple: #8358a0;
$lightPurple: #722BE1;
$bodyBg: #0e0e0f;

$homeHeadingColour: #fff;
$headingColour: $lightPurple;

// $homeBodyColour: rgba(255, 255, 255, 0.67);
$homeBodyColour: #fff;
//$bodyColour: #1d1d1d;
$bodyColour: #606060;

$pageBgGradStart: #161318;
$pageBgGradEnd: #302140;

$siteHeaderHeight: 150px;
$siteHeaderHeight--mobileLg: 180px;
$siteHeaderHeight--mobileXlg: 200px;
$siteHeaderHeight--desktop: 220px;

$btnBg: #3d2753;
$btnBg--hover: lighten($btnBg, 10%);

$linkColour: $lightPurple;
$linkColour--hover: #000;