$borderRadius: 15px;
$lightPurple: #722BE1;
$bodyBg: #0e0e0f;
$homeHeadingColour: #fff;
$headingColour: $lightPurple;
$homeBodyColour: #fff;
$bodyColour: #573367;

$siteHeaderHeight: 150px;
$siteHeaderHeight--mobileLg: 180px;
$siteHeaderHeight--mobileXlg: 200px;
$siteHeaderHeight--desktop: 220px;

$btnBg: $lightPurple;
$btnBg--hover: darken($lightPurple, 15%);
// $btnBg--hover: lighten($btnBg, 10%);

$linkColour: $lightPurple;
$linkColour--hover: #000;


$bodyFontSize--mobile: 1.5rem;
$bodyFontSize--mobile-lg: 1.6rem;
$bodyFontSize--mobile-xlg: 1.7rem;
$bodyFontSize--desktop: 1.8rem;
$bodyFontSize--desktop-md: 1.9rem;
$bodyFontSize--desktop-lg: 2rem;

$formLabelColour: $lightPurple;
$formInputColour: $bodyColour;