@import "./variables.scss";
@import "./mixins.scss";

::selection {
  background: green;
  color: #fff;
}

html.touch * {
  text-rendering: optimizeSpeed;
}

body {
  background: #211721;
  padding: 8px;
}

.container {
  margin: 0 auto;
  width: 100%;
}
