@import "variables";
@import "mixins";

::selection {
  background: green;
  color: #fff;
}

html.touch * {
  text-rendering: optimizeSpeed;
}

html {
  -webkit-font-smoothing: "antialiased";
}

body {
  background: $bodyBg;
}

.wf-loading {
  visibility: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColour;
  margin: 0;
}

p {
  color: $bodyColour;
}

img {
  margin: 0;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

strong {
  font-family: "HalisR-Medium", "serif";
}



// Homepage Specific

.is-homepage {

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $homeHeadingColour;
  }

  p {
    color: $homeBodyColour;
  }

}


@include mq(tablet) {

  p,
  li {
    font-size: 1.4rem;
  }

  .container {
    max-width: 700px;
    position: relative;
    z-index: 1;
  }

}

@include mq(tablet-lg) {

  body {
    padding: 20px 20px 0;
  }

  .container {
    max-width: 900px;
  }

  p,
  li {
    font-size: 1.6rem;
  }

}

@include mq(desktop) {

  body {
    padding: 30px 30px 0;
  }

  .container {
    max-width: 1000px;
  }

  p,
  li {
    font-size: 1.7rem;
  }

}

@include mq(desktop-md) {

  .container {
    max-width: 1300px;
  }

  p,
  li {
    font-size: 1.9rem;
  }

}