@import "variables";
@import "mixins";

::selection {
  background: green;
  color: #fff;
}

html.touch * {
  text-rendering: optimizeSpeed;
}

html {
  -webkit-font-smoothing: "antialiased";
}

body {
  background: $bodyBg;
  font-family: "HalisR-ExtraLight", "arial";
  position: relative;
  right: 0;
  transition: right 0.3s ease;
}

.wf-loading .container {
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColour;
  margin: 0;
}

h4 {
  font-size: 2.4rem;
  letter-spacing: -0.15rem;
  margin-top: 30px;
  margin-bottom: 15px;

  &:first-child {
    margin-top: 0;
  }
}

p {
  color: $bodyColour;
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  margin: 0;
}

strong {
  font-family: "HalisR-Medium", "arial";
}

a {
  color: $linkColour;
  text-decoration: underline;
}

a:hover {
  color: $linkColour--hover;
  text-decoration: none;
}

.is-homepage {

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $homeHeadingColour;
  }

  p {
    color: $homeBodyColour;
  }
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.block {
  // @include pageLoadAnimation;
  padding-bottom: 75px;
}

.block:last-child {
  padding-bottom: 0;
}

body.is-homepage .block {
  padding-bottom: 75px;
}

// Media Queries

@media only screen and (max-width: 767px) {
  body.navOpen {
    right: $mobileNavWidth;
  }
}

@include mq(mobile-lg) {

  .block,
  body.is-homepage .block {
    padding-bottom: 100px;
  }
}

@include mq(tablet) {
  h4 {
    font-size: 3.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .container {
    max-width: 700px;
    position: relative;
    z-index: 1;
  }

  body.is-homepage .block {
    padding-bottom: 150px;
  }
}

@include mq(tablet-lg) {
  .container {
    max-width: 950px;
  }
}

@include mq(desktop) {
  body {
    padding: 30px 30px 0;
    transition: none;
  }

  .container {
    max-width: 1000px;
  }

  h4 {
    font-size: 4rem;
    margin-top: 80px;
  }

  body.is-homepage .block {
    padding-bottom: 200px;
  }
}

@include mq(desktop-md) {
  .container {
    max-width: 1300px;
  }

  .block {
    padding-bottom: 120px;
  }

  body.is-homepage .block {
    padding-bottom: 300px;
  }
}

@include mq(desktop-lg) {
  .container {
    max-width: 1400px;
  }
}