$breakpoints: (
  //mobile-lg: 375px,
    //mobile-xlg: 414px,
    tablet: 768px,
  tablet-lg: 992px,
  desktop: 1281px,
  desktop-md: 1500px,
  //desktop-lg: 1920px,
    full: 2000px
);

@mixin mq($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @media (min-width: $breakpoint-value) {
    @content;
  }
}
