.blockTitle {
  font-size: 3.4rem;
  letter-spacing: -0.1rem;
  margin-bottom: 40px;
}

@include mq(tablet) {
  .blockTitle {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

@include mq(tablet-lg) {
  .blockTitle {
    font-size: 4rem;
  }
}

@include mq(desktop) {
  .blockTitle {
    font-size: 5rem;
  }
}

@include mq(desktop-md) {
  .blockTitle {
    font-size: 7rem;
    margin-bottom: 40px;
  }
}