.blockTitle {
  font-size: 3.2rem;
  letter-spacing: -0.15rem;
  margin-bottom: 15px;
  text-align: center;
}

@include mq(mobile-lg) {
  .blockTitle {
    font-size: 3.8rem;
  }
}

@include mq(mobile-xlg) {
  .mastheadTitle {
    font-size: 4rem;
  }
}

@include mq(tablet) {
  .blockTitle {
    font-size: 4.6rem;
    letter-spacing: -0.25rem;
    text-align: left;
    margin-bottom: 20px;
  }
}

@include mq(desktop) {
  .blockTitle {
    font-size: 5rem;
    letter-spacing: -0.4rem;
  }
}

@include mq(desktop-md) {
  .blockTitle {
    font-size: 7rem;
  }
}