.blockTitle {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  line-height: 1;
  margin-bottom: 15px;
  text-align: center;
}


@include mq(tablet) {

  .blockTitle {
    font-size: 4rem;
    letter-spacing: -0.25rem;
    text-align: left;
    margin-bottom: 20px;
  }

}

@include mq(desktop) {

  .blockTitle {
    font-size: 5rem;
    letter-spacing: -0.4rem;
  }

}

@include mq(desktop-md) {

  .blockTitle {
    font-size: 7rem;
    margin-bottom: 20px;
  }

}