.logo {
  display: block;
  height: auto;
  margin: 0 auto 20px;
  width: 80px;
}

@include mq(mobile-lg) {
  .logo {
    margin-bottom: 30px;
    width: 110px;
  }
}

@include mq(tablet) {
  .logo {
    display: flex;
    margin: 0;
    width: 100px;
  }
}

@include mq(desktop) {
  .logo {
    width: 130px;
  }
}