.pageWrap,
.homePageWrap {
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.pageWrap {
    background: #fff;
}

.homePageWrap {
    background: #161318;
    background: -moz-linear-gradient(top, #161318 25%, #302140 100%);
    background: -webkit-linear-gradient(top, #161318 25%, #302140 100%);
    background: linear-gradient(to bottom, #161318 25%, #302140 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161318', endColorstr='#302140', GradientType=0);
}

.roosterBg {
    display: block;
    height: auto;
    left: 50%;
    max-width: none;
    opacity: .02;
    position: absolute;
    transform: translateX(-50%);
    top: -100px;
    z-index: 0;
    width: 900px;
}


// Media Queries

@include mq(tablet) {

    .pageWrap,
    .homePageWrap {
        border-radius: $borderRadius
    }

}