.blockIntro {
  margin-bottom: 20px;
  text-align: center;
}

@include mq(tablet) {
  .blockIntro {
    margin-bottom: 30px;
    padding-left: 30px;
    position: relative;
    text-align: left;
  }

  .blockIntro:before {
    background: $lightPurple;
    border-radius: 2px;
    content: "";
    height: 100%;
    left: 0;
    max-height: 55px;
    position: absolute;
    top: 5px;
    // bottom: 5px;
    width: 4px;
  }

  .blockIntro.isHomepage:before {
    background: #fff;
  }

  .blockIntro p {
    font-size: 1.8rem;
  }
}

@include mq(tablet-lg) {
  .blockIntro {
    margin-bottom: 50px;
    max-width: 570px;
  }
}

@include mq(desktop) {
  .blockIntro {
    margin-bottom: 60px;
  }
}

@include mq(desktop-md) {
  .blockIntro {
    max-width: 60%;
  }

  .blockIntro p {
    font-size: 2rem;
  }
}