.portfolioThumbnail {
  display: inline-block;
  // height: 0;
  margin: 5% 0 0;
  // padding-bottom: 100%;
  position: relative;
  width: 20%;

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(7),
  &:nth-child(9),
  &:nth-child(12),
  &:nth-child(14),
  &:nth-child(17),
  &:nth-child(19),
  &:nth-child(22),
  &:nth-child(24),
  &:nth-child(27),
  &:nth-child(29) {
    transform: translateY(-65%);
  }
}

.portfolioThumbnail svg {
  display: block;
  transform: scale(1.18);
  width: 100%;
}
