.articleItem {
  display: block;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

}

.articleItemImg {
  height: 200px;
  margin: 0 -16px 30px;
}

.articleItemTitle {
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 8px;
}

.articleItemBody {
  font-size: $bodyFontSize--mobile;
  margin: 0;
}


@include mq(mobile-lg) {

  .articleItemImg {
    margin-bottom: 40px;
  }

  .articleItemBody {
    font-size: $bodyFontSize--mobile-lg;

  }

}

@include mq(mobile-xlg) {

  .articleItemBody {
    font-size: $bodyFontSize--mobile-xlg;
  }

}

@include mq(tablet) {

  .articleItem {
    margin-bottom: 0;
    width: calc(33.333333% - 10px);
  }

  .articleItemImg {
    border-radius: 5px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .25);
    display: block;
    height: auto;
    margin: 0 0 30px;
    width: 100%;
  }

  .articleItemTitle {
    font-size: 2.2rem;
  }

  .articleItemBody {
    font-size: 1.5rem;
  }

}

@include mq(tablet-lg) {

  .articleItem {
    width: calc(33.333333% - 24px);
  }

  .articleItemTitle {
    font-size: 2.6rem;
  }

  .articleItemBody {
    font-size: $bodyFontSize--mobile-xlg;
  }

}

@include mq(desktop) {

  .articleItem {
    width: calc(33.333333% - 25px);
  }

  .articleItemBody {
    font-size: $bodyFontSize--desktop;
  }

}

@include mq(desktop-md) {

  .articleItem {
    width: calc(33.333333% - 32px);
  }

  .articleItemImg {
    margin-bottom: 40px;
  }

  .articleItemTitle {
    font-size: 3rem;
  }

  .articleItemBody {
    font-size: $bodyFontSize--desktop-md;
  }

}

@include mq(desktop-lg) {

  .articleItemBody {
    font-size: $bodyFontSize--desktop-lg;
  }

}