.siteNavigationItem {
  display: block;
  font-family: "HalisR-Medium", "serif";
  margin: 0 0 35px;
  padding: 0;
  text-align: left;
}

.siteNavigationItem:last-child {
  margin-right: 0;
}

.siteNavigationLink {
  color: #fff;
  display: block;
  font-size: 1.8rem;
  line-height: 1;
  opacity: 0.67;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.siteNavigationLink:after {
  background: #fff;
  border-radius: 2px;
  bottom: 0;
  content: "";
  display: block;
  height: 22px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -1px;
  transition: all 0.2s ease;
  width: 4px;
}

.siteNavigationLink:hover,
.siteNavigationLinkActive {
  color: #fff !important;
  opacity: 1 !important;
}

.siteNavigationLinkActive:after {
  opacity: 1;
}

@include mq(tablet) {
  .siteNavigationItem {
    display: inline-block;
    margin: 0 30px 0 0;
  }

  .siteNavigationLink {
    font-size: 1.4rem;
    height: 45px;
    line-height: 45px;
    padding-left: 0;
    opacity: 0.6;
  }

  .siteNavigationLink:after {
    border-radius: 1px;
    height: 2px;
    top: auto;
    width: 100%;
  }

  .siteNavigationLink:hover:after,
  .siteNavigationLinkActive:after {
    bottom: 5px;
    opacity: 1;
  }
}

@include mq(tablet-lg) {
  .siteNavigationItem {
    margin-right: 40px;
  }

  .siteNavigationLink {
    font-size: 1.6rem;
  }
}

@include mq(desktop-md) {
  .siteNavigationLink {
    height: 55px;
    line-height: 55px;
  }
}
