.siteFooter {
  font-size: 1.5rem;
  padding: 40px 0;
  position: relative;
  text-align: center;

  p {
    color: $homeBodyColour;
    margin: 0 0 20px;
  }

  p:last-child {
    margin: 0;
  }
}

.siteFooterLink {
  color: #fff !important;
  display: inline-block;
  margin: 15px 10px 0;
  text-decoration: none;
}

.siteFooterLink:hover {
  text-decoration: underline;
}

@include mq(mobile-lg) {

  .siteFooter {
    font-size: $bodyFontSize--mobile-lg;
  }

}

@include mq(mobile-xlg) {

  .siteFooter {
    font-size: $bodyFontSize--mobile-xlg;
  }

}


@include mq(tablet) {
  .siteFooter p {
    margin-bottom: 30px;
  }

  .siteFooter p:nth-child(2) {
    margin-bottom: 10px;
  }

  .siteFooter br {
    display: none;
  }

  .siteFooterLink {
    margin: 0 0 0 15px;
  }
}

@include mq(tablet-lg) {
  .siteFooter {
    padding: 60px 0;
  }
}

@include mq(desktop-md) {
  .siteFooter {
    font-size: 1.8rem;
  }
}