.siteFooter {
    color: $bodyColour;
    padding: 40px 0;
    text-align: center;

    p:last-child {
        margin: 0;
    }

    a {
        color: $bodyColour;
        display: inline-block;
        margin: 15px 10px 0;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

}