.clientLogosBlock {
  // @include blockMargin;
  text-align: center;
}

.clientLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@include mq(tablet-lg) {
  .clientLogosBlock {
    text-align: left;
  }
}
