.masthead {
  // height: calc(100vh - 8px);
  display: flex;
  align-items: center;
  height: 100vh;
  margin-bottom: 50px;
  text-align: center;
}

.mastheadTitle {
  color: $lightPurple;
  font-size: 3.8rem;
  letter-spacing: -0.15rem;
  margin-bottom: 20px;
}

@include mq(mobile-lg) {
  .mastheadTitle {
    font-size: 4.4rem;
    margin-bottom: 30px;
  }

  .mastheadIntro {
    font-size: 1.8rem
  }
}