.skillLogo {
  // display: block;
  // overflow: hidden;
  // padding: 0 4px 8px;
  // width: calc(100% / 4);

  margin: 7% 0;
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.skillLogo svg {
  display: block;
  transform: scale(1.18);
  width: 100%;
}

// mobile
@media only screen and (max-width: 767px) {

  .skillLogo:nth-child(even),
  .skillLogo:nth-child(21) {
    transform: translateY(-57%);
  }

  .skillLogo:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .skillLogo:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .skillLogo:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .skillLogo:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
  }

  .skillLogo:nth-child(5) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .skillLogo:nth-child(6) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .skillLogo:nth-child(7) {
    grid-area: 2 / 3 / 3 / 4;
  }

  .skillLogo:nth-child(8) {
    grid-area: 2 / 4 / 3 / 5;
  }

  .skillLogo:nth-child(9) {
    grid-area: 3 / 1 / 4 / 2;
  }

  .skillLogo:nth-child(10) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .skillLogo:nth-child(11) {
    grid-area: 3 / 3 / 4 / 4;
  }

  .skillLogo:nth-child(12) {
    grid-area: 3 / 4 / 4 / 5;
  }

  .skillLogo:nth-child(13) {
    grid-area: 4 / 1 / 5 / 2;
  }

  .skillLogo:nth-child(14) {
    grid-area: 4 / 2 / 5 / 3;
  }

  .skillLogo:nth-child(15) {
    grid-area: 4 / 3 / 5 / 4;
  }

  .skillLogo:nth-child(16) {
    grid-area: 4 / 4 / 5 / 5;
  }

  .skillLogo:nth-child(17) {
    grid-area: 5 / 1 / 6 / 2;
  }

  .skillLogo:nth-child(18) {
    grid-area: 5 / 2 / 6 / 3;
  }

  .skillLogo:nth-child(19) {
    grid-area: 5 / 3 / 6 / 4;
  }

  .skillLogo:nth-child(20) {
    grid-area: 5 / 4 / 6 / 5;
  }

  .skillLogo:nth-child(21) {
    grid-area: 6 / 2 / 7 / 3;
  }

}

// tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .skillLogo:nth-child(1),
  .skillLogo:nth-child(3),
  .skillLogo:nth-child(5),
  .skillLogo:nth-child(7),
  .skillLogo:nth-child(8),
  .skillLogo:nth-child(10),
  .skillLogo:nth-child(12),
  .skillLogo:nth-child(14),
  .skillLogo:nth-child(15),
  .skillLogo:nth-child(17),
  .skillLogo:nth-child(19),
  .skillLogo:nth-child(21) {
    transform: translateY(-57%) !important;
  }

  .skillLogo:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }

  .skillLogo:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .skillLogo:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .skillLogo:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
  }

  .skillLogo:nth-child(5) {
    grid-area: 1 / 5 / 2 / 6;
  }

  .skillLogo:nth-child(6) {
    grid-area: 1 / 6 / 2 / 7;
  }

  .skillLogo:nth-child(7) {
    grid-area: 1 / 7 / 2 / 8;
  }

  .skillLogo:nth-child(8) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .skillLogo:nth-child(9) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .skillLogo:nth-child(10) {
    grid-area: 2 / 3 / 3 / 4;
  }

  .skillLogo:nth-child(11) {
    grid-area: 2 / 4 / 3 / 5;
  }

  .skillLogo:nth-child(12) {
    grid-area: 2 / 5 / 3 / 6;
  }

  .skillLogo:nth-child(13) {
    grid-area: 2 / 6 / 3 / 7;
  }

  .skillLogo:nth-child(14) {
    grid-area: 2 / 7 / 3 / 8;
  }

  .skillLogo:nth-child(15) {
    grid-area: 3 / 1 / 4 / 2;
  }

  .skillLogo:nth-child(16) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .skillLogo:nth-child(17) {
    grid-area: 3 / 3 / 4 / 4;
  }

  .skillLogo:nth-child(18) {
    grid-area: 3 / 4 / 4 / 5;
  }

  .skillLogo:nth-child(19) {
    grid-area: 3 / 5 / 4 / 6;
  }

  .skillLogo:nth-child(20) {
    grid-area: 3 / 6 / 4 / 7;
  }

  .skillLogo:nth-child(21) {
    grid-area: 3 / 7 / 4 / 8;
  }
}

// tablet lg
@include mq(tablet-lg) {

  .skillLogo:nth-child(even),
  .skillLogo:nth-child(21) {
    transform: translateY(-57%) !important;
  }

  .skillLogo:nth-child(1) {
    grid-area: 1 / 6 / 2 / 7;
  }

  .skillLogo:nth-child(2) {
    grid-area: 1 / 7 / 2 / 8;
  }

  .skillLogo:nth-child(3) {
    grid-area: 1 / 8 / 2 / 9;
  }

  .skillLogo:nth-child(4) {
    grid-area: 1 / 9 / 2 / 10;
  }

  .skillLogo:nth-child(5) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .skillLogo:nth-child(6) {
    grid-area: 2 / 3 / 3 / 4;
  }

  .skillLogo:nth-child(7) {
    grid-area: 2 / 4 / 3 / 5;
  }

  .skillLogo:nth-child(8) {
    grid-area: 2 / 5 / 3 / 6;
  }

  .skillLogo:nth-child(9) {
    grid-area: 2 / 6 / 3 / 7;
  }

  .skillLogo:nth-child(10) {
    grid-area: 2 / 7 / 3 / 8;
  }

  .skillLogo:nth-child(11) {
    grid-area: 2 / 8 / 3 / 9;
  }

  .skillLogo:nth-child(12) {
    grid-area: 3 / 1 / 4 / 2;
  }

  .skillLogo:nth-child(13) {
    grid-area: 3 / 2 / 4 / 3;
  }

  .skillLogo:nth-child(14) {
    grid-area: 3 / 3 / 4 / 4;
  }

  .skillLogo:nth-child(15) {
    grid-area: 3 / 4 / 4 / 5;
  }

  .skillLogo:nth-child(16) {
    grid-area: 3 / 5 / 4 / 6;
  }

  .skillLogo:nth-child(17) {
    grid-area: 3 / 6 / 4 / 7;
  }

  .skillLogo:nth-child(18) {
    grid-area: 3 / 7 / 4 / 8;
  }

  .skillLogo:nth-child(19) {
    grid-area: 3 / 8 / 4 / 9;
  }

  .skillLogo:nth-child(20) {
    grid-area: 3 / 9 / 4 / 10;
  }

  .skillLogo:nth-child(21) {
    grid-area: 4 / 5 / 5 / 6;
  }
}



// @include mq(tablet-lg) {

//   .skillLogo:nth-child(1) {
//     grid-area: 1 / 5 / 2 / 6;
//   }

//   .skillLogo:nth-child(2) {
//     grid-area: 1 / 6 / 2 / 7;
//   }

//   .skillLogo:nth-child(3) {
//     grid-area: 1 / 7 / 2 / 8;
//   }

//   .skillLogo:nth-child(4) {
//     grid-area: 2 / 1 / 3 / 2;
//   }

//   .skillLogo:nth-child(5) {
//     grid-area: 2 / 2 / 3 / 3;
//   }

//   .skillLogo:nth-child(6) {
//     grid-area: 2 / 3 / 3 / 4;
//   }

//   .skillLogo:nth-child(7) {
//     grid-area: 2 / 4 / 3 / 5;
//   }

//   .skillLogo:nth-child(8) {
//     grid-area: 2 / 5 / 3 / 6;
//   }

//   .skillLogo:nth-child(9) {
//     grid-area: 2 / 6 / 3 / 7;
//   }

//   .skillLogo:nth-child(10) {
//     grid-area: 3 / 2 / 4 / 3;
//   }

//   .skillLogo:nth-child(11) {
//     grid-area: 3 / 3 / 4 / 4;
//   }

//   .skillLogo:nth-child(12) {
//     grid-area: 3 / 4 / 4 / 5;
//   }

//   .skillLogo:nth-child(13) {
//     grid-area: 3 / 5 / 4 / 6;
//   }

//   .skillLogo:nth-child(14) {
//     grid-area: 3 / 6 / 4 / 7;
//   }

//   .skillLogo:nth-child(15) {
//     grid-area: 4 / 5 / 5 / 6;
//   }

//   .skillLogo:nth-child(16) {
//     grid-area: 4 / 6 / 5 / 7;
//   }

//   .skillLogo:nth-child(17) {
//     grid-area: 4 / 7 / 5 / 8;
//   }
// }