.skillLogo {
    border-radius: $borderRadius;
    display: block;
    margin-top: 16px;
    overflow: hidden;
    width: calc(50% - 8px);

    &:nth-child(-n+2) {
        margin-top: 0;
    }

    img {
        display: block;
        height: auto;
        width: 100%;
    }

}

@include mq(tablet) {

    .skillLogo {
        width: calc(25% - 12px);
    }

    .skillLogo:nth-child(-n+4) {
        margin-top: 0;
    }

}

@include mq(tablet-lg) {

    .skillLogo {
        margin-top: 24px;
        width: calc(25% - 18px);
    }
}

@include mq(desktop) {
    .skillLogo {
        margin-top: 28px;
        width: calc(25% - 24px);
    }
}

@include mq(desktop-md) {
    .skillLogo {
        margin-top: 38px;
        width: calc(25% - 28px);
    }
}