.mastheadBody {
  margin-top: 20px;
}

.mastheadBody p {
  color: #fff;
}

@include mq(mobile-lg) {
  .mastheadBody {
    margin-top: 30px;
  }
}

@include mq(tablet) {
  .mastheadBody {
    margin-top: 30px;
  }

  .mastheadBody p {
    font-size: 2rem;
  }
}

@include mq(desktop-md) {
  .mastheadBody {
    margin-top: 40px;
  }

  .mastheadBody p {
    font-size: 2.2rem;
  }
}
