.mastheadBody p {
  color: #fff;
}

.mastheadBody a {
  color: #fff !important;
}

@include mq(mobile-xlg) {
  .mastheadBody p {
    font-size: 1.8rem;
  }
}

@include mq(tablet) {
  .mastheadBody p {
    font-size: 2rem;
  }
}

@include mq(desktop-md) {
  .mastheadBody p {
    font-size: 2.2rem;
  }
}