.mastheadBody {
  color: #fff;
  margin: 20px 0 0;
}

@include mq(mobile-lg) {
  .mastheadBody {
    margin-top: 30px;
  }
}

@include mq(tablet) {
  .mastheadBody {
    font-size: 2rem;
    margin-top: 30px;
  }
}

@include mq(desktop-md) {
  .mastheadBody {
    font-size: 2.2rem;
    margin-top: 40px;
  }
}
