.masthead {
  background: blue;
  // height: calc(100vh - 8px);

  display: flex;
  align-items: center;
  //   height: 100vh;
  margin-bottom: 50px;
  text-align: center;
}

@include mq(mobile-lg) {
  .mastheadIntro {
    font-size: 1.8rem;
  }
}

// HOME MASTHEAD

.homeMasthead {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-bottom: 50px;
  text-align: center;
}

// Media Queries

@include mq(mobile-lg) {
  .mastheadIntro {
    font-size: 1.8rem;
  }
}

@include mq(tablet) {

  .masthead,
  .homeMasthead {
    text-align: left;
  }

  .masthead>div,
  .homeMasthead>div {
    height: 100%;
  }

  .masthead {
    align-items: flex-start;
    margin-bottom: 0;
  }

  .homeMasthead {
    height: calc(100vh - 32px);
  }

  .mastheadTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .mastheadBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 150px);
  }

}