.masthead {
  @include pageBgGradient;
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  text-align: center;
  z-index: 1;
}

.masthead.isHome {
  background: none;

}

.roosterBg {
  display: block;
  height: auto;
  left: 50%;
  max-width: none;
  opacity: .01;
  position: absolute;
  transform: translateX(-50%);
  top: -50px;
  width: 450px;
}

@include mq(mobile-lg) {
  .mastheadIntro {
    font-size: 1.8rem;
  }

  .roosterBg {
    width: 600px;
  }

}

@include mq(tablet) {
  .masthead {
    text-align: left;
  }

  .masthead>div {
    height: 100%;
  }

  .masthead {
    align-items: flex-start;
    margin-bottom: 0;
  }

  .masthead.isHome {
    height: calc(100vh - 32px);
  }

  .mastheadTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .mastheadContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 150px);
  }

  .roosterBg {
    top: -100px;
    width: 900px;
  }

}

@include mq(tablet-lg) {
  .roosterBg {
    top: -75px;
    width: 1200px;
  }
}

@include mq(desktop) {

  .masthead {
    height: 900px;
  }

  .roosterBg {
    top: -100px;
    width: 1500px;
  }
}